.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(6, 6, 6);
    background: #f1f0f0;
    padding: 1rem 2rem;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(8, 8, 8);
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .navLinks li {
    margin-top: 12px;
    display: inline;
   
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  .navLinks a {
    text-decoration: none;
    color: rgb(75, 73, 73);
    font-weight: bold;
    transition: 0.3s;
  }
  
  .navLinks a:hover {
    color: #4e0b0b;
  }
    
  .navLinks a {
    text-decoration: none;
    color: rgb(75, 73, 73);
    font-weight: bold;
    transition: 0.3s;
    position: relative; /* Needed for ::after to work */
    padding: 5px 0;
  }
  
  .navLinks a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: rgb(183, 62, 18);
    transition: width 0.3s ease, left 0.3s ease;
  }
  
  .navLinks a:hover::after,
  .navLinks a.active::after {
    width: 100%;
    left: 0;
  }
  